<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="utils.SuiteListener"></listener>
		
	</listeners>
	
	
	
  <test thread-count="5" name="Test">
	  
	  
  <parameter name="browser" value="chrome"></parameter>
  <classes>
	<!-- <class name="qa.Test.SignupPageTestcase"></class>-->
    <class name="qa.Test.LoginPageTestcase"/>
    <!-- <class name="qa.Test.ProfileTestcase"></class>-->
    <class name="qa.Test.EmployerDetailsTestcase"></class>
    <!-- <class name="qa.Test.PackageSubscriptionTestcase"></class>-->
    <!--<class name="qa.Test.PostJobTestcase"/>-->
    <!--<class name="qa.Test.PostedJobTestcase"></class>-->
    <!--  <class name="qa.Test.SearchCandidatesTestcase"></class>-->
  
  </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
